/* CSS Reset */
body {
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    background: url('/Img/Pic1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 140%;
}

.left {
    /* border: 2px solid rgb(98, 173, 12); */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 22px;
    line-height: 18px;
    font-size: 16px;
}

.left img {
    width: 77px;
}

.left div {
    text-align: center;
}

.mid {
    /* border: 2px solid red; */
    display: block;
    margin: 22px auto;
    width: 50%;
}

.right {
    /* border: 2px solid rgb(86, 3, 219); */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 22px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 21px;
}

.navbar li a {
    color: blue;
    text-decoration: none;
    padding: 6px 11px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

.btn {
    margin: 0px 1px;
    background-color: rgb(3, 1, 1);
    color: rgb(253, 253, 253);
    padding: 2px 0px;
    border: 2px solid #762525;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Lobster', cursive;
}

.btn:hover {
    background-color: rgb(100, 89, 89);
    color: red;
}

.container {
    /* border: 1px solid rgb(245, 7, 7); */
    margin: 75px 103px;
    padding: 2px 30px;
    width: 40%;
    border-radius: 8px;
    font-size: 20px;
    color: rgb(255, 4, 4)
}

.form-group input {
    font-family: 'Lobster', cursive;
    text-align: center;
    display: block;
    margin: 4px 52px;
    padding: 2px 117px;
    border: 2px solid #000000;
    width: 165px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 23%;
    margin: auto;
}